<network>
  <name>{{ vm_net }}</name>
  <uuid>94413f68-17a4-4922-90b8-c70b3c6a5df3</uuid>
  <forward mode="nat">
    <nat>
      <port start="1024" end="65535"/>
    </nat>
  </forward>
  <bridge name="{{ vm_net }}_virbr0" stp="on" delay="0"/>
  <mac address="52:54:00:73:e8:33"/>
  <ip address="172.30.0.1" netmask="255.255.255.0">
    <dhcp>
      <range start="172.30.0.2" end="172.30.0.254"/>
        <host mac="52:54:00:a6:8b:c1" name="node1" ip="172.30.0.201"/>
        <host mac="52:54:00:a6:8b:c2" name="node2" ip="172.30.0.202"/>
        <host mac="52:54:00:a6:8b:c3" name="node3" ip="172.30.0.203"/>
        <host mac="52:54:00:a6:8b:c4" name="node4" ip="172.30.0.204"/>
        <host mac="52:54:00:a6:8b:c5" name="node5" ip="172.30.0.205"/>
    </dhcp>
  </ip>
</network>
